<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>

    <div class="container-form">
        <div class="box-form" id="heading">
            <h1>Activity</h1>
        </div>
        
    
        <div class="box-form">
            <div class="box-text">
                <p>Activity</p><p class="activity-text"><%= activityText[0] %> </p>
            </div>
            <div class="box-text">
                <p>Type</p><p class="activity-text"><%= activityText[1] %> </p>
            </div>
            <div class="box-text">
                <p>Participants</p><p class="activity-text"><%= activityText[2] %> </p>
            </div>
            <div class="box-text">
                <p>Accessibility</p><p class="activity-text"><%= activityText[3] %> </p>
            </div>
        </div>
    </div>
    
<script src="js/activity.js"></script>
</body>
</html>